#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("/images/background1.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  place-items: flex-start; 
  min-width: 320px;
  min-height: 100vh;
  padding-top: 20px; 
}
